@page
@model crafts.Pages.newModel
@{
    
}
<div class="text-center">
    <h1 class="display-4">new page</h1>
    <p>seee the new page <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
